.ContainerEvents {
  background-color: lightgray;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  position: relative;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
}

.labelEventos {
  font-size: 30px;
  height: 50px;
  width: 100%;
}

.contEventList {
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding-top: 5px;
  margin: 5px;
  cursor: pointer;
  border-bottom: black solid 2px;
}
